<div class="banner">
  <div class="alert alert-light m-0 rounded-0 p-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4 banner-text ms-2">
          This site is in <strong>BETA</strong>. Help us improve by <a href="https://teams.microsoft.com/l/channel/19%3afc670ac71ead4524838cdde0d15373a1%40thread.tacv2/The%2520HC%2520Digital%2520Network?groupId=0bcb3fa7-b37f-4ae9-aac7-7716de14fbc2&tenantId=36da45f1-dd2c-4d1f-af13-5abe46b99921">giving feedback</a>
        </div>

      </div>

    </div>
  </div>
</div>
