<div class="masthead p-3 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 align-self-center">
        <h1 class="tagline">Giving you the skills to <span>lead and deliver</span> modern organisational transformation</h1>
        <br>
          <p>With the <strong>HC Digital Network</strong>, learn how to run an Agile PMO, build a website, undertake user research and more</p>
      </div>
      <div class="col-md-8">
        <img style="float: right;" src="../assets/img/masthead_img.png" alt="">
      </div>
    </div>
  </div>
</div>
