<nav mb-2>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <ul class="nav ">
          {% for item in site.data.navigation %}
          <li class="nav-item">
            <a href="{{item.link}}" } class="nav-link {% if page.url == item.link %} active {% endif %}" >
            {{ item.name | upcase}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <h2>Digital Network</h2>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <button type="button" class="btn btn-outline-success">Join the Network</button>
      </div>
    </div>
  </div>
</nav>
