$success: #00a650;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../assets/bootstrap/scss/bootstrap";


// Body bg
body {
  background-color: #fafafa;
}

//nav styling
nav {
  background-color: $gray-200;
  padding: 0.5rem;
}

.active {
  color: $secondary;
}

.masthead p {
  font-size: 1.3em;
}



.masthead img {
  max-width: 100%;
}


.tagline span{
  color: $success;
}

.card ul {
  list-style: none;
  padding-left: 0;
}

.teamImage{
  max-width:100%;
  max-height: 100%;
}

.card-header {
  background-color: $success;
}

.persona-title {
  color: $success;
}

.persona li a {
  color: $success;
}

.persona ul {
  list-style: disc;
  padding-left: 1rem;
}
